apiVersion: v1
kind: ConfigMap
metadata:
  namespace: exercises
  name: wiki-conf
data:
  fetch.sh: |
    #!/bin/sh

    echo "Fetching page $WEBSITE_URL"
    curl -L "$WEBSITE_URL" > /www/index.html

  sidecar.sh: |
    #!/bin/sh

    while true; do
      DELAY=$(((RANDOM % 10) + 5))m
      echo "Waiting $DELAY ..."
      sleep $DELAY

      fetch.sh
    done

---
apiVersion: apps/v1
kind: Deployment
metadata:
  namespace: exercises
  name: wiki
spec:
  replicas: 1
  selector:
    matchLabels:
      app: wiki
  template:
    metadata:
      labels:
        app: wiki
    spec:
      volumes:
        - name: www
          emptyDir: {}

        - name: scripts
          configMap:
            name: wiki-conf
            defaultMode: 0755 # same as `chmod +x`

      initContainers:
        - name: init
          image: curlimages/curl:8.17.0
          env:
            - name: WEBSITE_URL
              value: https://en.wikipedia.org/wiki/Kubernetes
          command:
            - /usr/local/bin/fetch.sh
          volumeMounts:
            - name: www
              mountPath: /www

            - name: scripts
              mountPath: /usr/local/bin

      containers:
        - name: nginx
          image: nginx:1.29-alpine
          ports:
            - containerPort: 80
          volumeMounts:
            - name: www
              mountPath: /usr/share/nginx/html

        - name: sidecar
          image: curlimages/curl:8.17.0
          env:
            - name: WEBSITE_URL
              value: https://en.wikipedia.org/wiki/Special:Random

          command:
            - /usr/local/bin/sidecar.sh

          volumeMounts:
            - name: scripts
              mountPath: /usr/local/bin

            - name: www
              mountPath: /www
