apiVersion: argoproj.io/v1alpha1
kind: Rollout
metadata:
  namespace: exercises
  name: flaky-update-dep
spec:
  replicas: 4
  selector:
    matchLabels:
      app: flaky-update

  strategy:
    canary:
      steps:
        - setWeight: 25
        - analysis:
            templates:
              - templateName: cpu-stress
        - pause:
            duration: 30s
        - setWeight: 50
        - pause:
            duration: 30s

  template:
    metadata:
      labels:
        app: flaky-update
    spec:
      containers:
        - name: flaky-update
          image: tomjtoth/devops-with-kubernetes:pingpong-4.4
          env:
            - name: IP
              value: 0.0.0.0
            - name: PORT
              value: "3000"
            - name: DATABASE_URL
              value: postgres://postgres:password@postgres-svc
            - name: STRESS_FOR
              value: "210"

          readinessProbe:
            initialDelaySeconds: 10
            periodSeconds: 5
            httpGet:
              path: /healthz
              port: 3000
