apiVersion: v1
kind: PersistentVolume
metadata:
  namespace: project
  name: pv-100m-project
spec:
  storageClassName: pv-100m-project
  capacity:
    storage: 100Mi
  volumeMode: Filesystem
  accessModes:
    - ReadWriteOnce
  local:
    path: /tmp/kube-project
  nodeAffinity:
    required:
      nodeSelectorTerms:
        - matchExpressions:
            - key: kubernetes.io/hostname
              operator: In
              values:
                - k3d-k3s-default-agent-0
